*{
    margin: 0;
    padding: 0;
}
.container {
    /* width:  100vw; */
    height: 60px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: sticky;
    top: 0;

}

img {
    width: 100px;
    height: 50px;
    background-color: transparent;
    margin-left: 11px;
}

.containerOption {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.headerOptionOne {
    font-size: 12px;
    color: #909090;
    font-weight: 600;
}

.headerOptiontwo {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

.headerSearch {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(248, 246, 248);
}

.headerSearch:focus-within {
    border: 2px solid orange;
}

.h_option {
    height: 31px;
    width: 40px;
    outline: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    border: 0;
    border-right: 1px solid #909090;
}

.h_option>option {
    margin: 10px;
}

.cart {
    color: #fff;
}

.searc_input {
    flex-grow: 1;
    height: 29px;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 12px;
    overflow: hidden;
    margin-left: 4px;
}

.searc_input:focus {
    outline: none;
}

.h_icon {
    width: 35px;
    background-color: orange;
    height: 35px;
    align-items: center;
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon {
    margin-left: 5px;
    cursor: pointer;
    color: #0e0d0d;
    font-weight: 400;
    font-size: 25px !important;
}

.h_one {
    padding: 10px 9px 10px 9px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.h_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.f_option,
.op_one {
    width: 30px;
    color: #fff;
    border: none;
    outline: 0;
    background-color: transparent;
}

.iconss {
    width: 20px !important;
}

.f_option>option {
    width: 100px;
    color: #000;
}

.headerOptionfirst {
    font-size: 11px;
    font-weight: 400;
    opacity: 0.9;
    color: #fff;
}

.headerOptioncart {
    opacity: 0.9;
    color: #fff;
}

.h_ones {
    margin: 10px;
    align-items: center;
    display: flex;
}
@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .navgation_container {
        width: 100%;
        overflow: hidden;
    }
    .containerOption,
    .h_one,
    .h_ones {
        display: none;
    }
    .headerSearch{
        margin: 10px;
    }
}
