.sig {
    width: 100%;
    background-color: white;
    display: inline-block;
}

.s_box {
    width: 22%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #f9f2f2;
    background-color: rgb(242, 242, 242);
    border-radius: 2px;
    padding: 10px;

}

.s_box>span {
    font-size: 27px;
    padding: 20px;
    color: #000;
    font-weight: 500;
}

.s_box>label {
    font-size: 17px;
    color: #000;
    font-weight: 500;
    margin: 10px;
}

.s_box>input {
    font-size: 17px;
    color: #000;
    font-weight: 500;
    margin: 10px;
    padding: 8px;
}

.s_box>input:focus {
    border: 1px solid orange;
}

.link_container{
    width: 100%;
    display: flex;
    align-items: center;
}
.link_container>button {
    width: 95%;
    font-size: 17px;
    /* margin: 10px; */
    color: #000;
    font-weight: 500;
    background-color: rgb(231, 178, 80);
    cursor: pointer;
}

.acc {
    align-items: center;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin: 10px;
    align-items: start;
}

.btns {
    width: 23%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
}

.btns>button {
    padding: 7px;
    width: 100%;
    margin-top: 10px;
    color: #000;
    font-weight: 500;
    background-color: rgb(216, 213, 208);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .acc {
        width: 100%;
        flex-direction: column;
    }

    .s_box {
        width: 80%;
        flex-direction: column;
    }
    .btns{
        width: 85%;
        display: block;
    }
}