* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  background-color: #f0efef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}